<!DOCTYPE html>
    <html>

        <head>

            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

            <style>

                .container {
                    background-color: gainsboro;
                    border: 1px solid black;
                    border-radius: 10px;
                    margin-top: 2%;
                    text-align: center;
                }

                h1 {
                    margin: 10px;
                }
                
            </style>

        </head>

        <body>

            <div class="container" >

                <h1>This is your password</h1>
                <br/>
                <p>Your Password is : </p>
                <p>{{resulte}}</p>
                
                <a href="" >Try Again</a>
                <br/>
                <br/>
                
            </div>

        </body>
</html>